.nascondi-descr p.card-text, .nascondi-descr p {
    display: none;
}
.small-decr p.card-text {
    font-size:14px;
}
.title-16pt h5 {
    font-size: 16px;
}
.gfcm-follow-icons-mm {
    margin-bottom: 10px;
    margin-top: 5px;
}

.gfcm-follow-icons-mm .bi {
    font-size: 23px;
    height: 30px;
    margin-right: 10px;
}
.social-mm .card-image,
.social-mm h5.card-title{
    display: none;
}
.accordion {
    margin-bottom: 2rem;
}
.hero-caption h5.title-link {
    margin-bottom: 0px;
}
.card-img-overlay .card-title {
    margin-bottom: 0px !important;
}
.bordo-img {
    border: 1px solid #e6e9ec;
}
#navbarDropdown-1_9DC9B735-64AD-4533-A3F9-EB9B65DCECDB + .dropdown-menu > li:first-child::before {
    content: "Core areas";
    display: block;
    color: var(--on-background-secondary);
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: .5rem 1rem .25rem;
}

#navbarDropdown-1_9DC9B735-64AD-4533-A3F9-EB9B65DCECDB + .dropdown-menu > li:nth-child(4)::before {
    content: "Cross-cutting areas";
    display: block;
    color: var(--on-background-secondary);
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 600;
        padding: 1rem 1rem .25rem;
    border-top: 1px solid #DEE1E5;
    margin-top: 0.75rem;
}
.card-img-overlay h6.title-caption {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
}
@media (min-width: 1200px) {
    .hero-banner {
        min-height: 300px;
    }
    .banner-homepage .hero-banner {
        min-height: 475px;
    }
