.nascondi-descr p.card-text {
    display: none;
}
.title-16pt h5 {
    font-size: 16px;
}
.gfcm-follow-icons-mm {
    margin-bottom: 10px;
    margin-top: 5px;
}

.gfcm-follow-icons-mm .bi {
    font-size: 23px;
    height: 30px;
    margin-right: 10px;
}
.social-mm .card-image,
.social-mm h5.card-title{
    display: none;
}
.accordion {
    margin-bottom: 2rem;
}
.hero-caption h5.title-link {
    margin-bottom: 0px;
}
@media (min-width: 1200px) {
    .hero-banner {
        min-height: 300px;
    }
