.nascondi-descr p.card-text {
    display: none;
}
.title-16pt h5 {
    font-size: 16px;
}
.gfcm-follow-icons-mm {
    margin-bottom: 10px;
    margin-top: 5px;
}

.gfcm-follow-icons-mm .bi {
    font-size: 23px;
    height: 30px;
    margin-right: 10px;
}
.social-mm .card-image,
.social-mm h5.card-title{
    display: none;
}
.accordion {
    margin-bottom: 2rem;
}
.hero-caption h5.title-link {
    margin-bottom: 0px;
}
.card .card-title {
    margin-bottom: 0px !important;
}
.bordo-img {
    border: 1px solid #e6e9ec;
}
.nav-item.active > .dropdown-menu > li:first-child .dropdown-item::before {
    content: "Core areas";
    display: inline-block;
}
.nav-item.active > .dropdown-menu > li:nth-child(4) .dropdown-item::before {
    content: "Cross-cutting themes";
    display: inline-block;
}
@media (min-width: 1200px) {
    .hero-banner {
        min-height: 300px;
    }
